<!-- Customer Form -->
<h2> Customer Form </h2>
<div class="well well-lg">
  <form [formGroup]="form" (ngSubmit)="onSave(form.value)">
      <div class="form-group">
          <label for="name">Name</label>
          <input 
              type="text" 
              class="form-control" 
              id="name"
              name="name"
              formControlName="name" placeholder="Enter Name"
              [(ngModel)]="customer.name">
              <div *ngIf="form.controls['name'].errors && (form.controls['name'].touched || form.controls['name'].dirty)"
              class="alert alert-danger">
              <div *ngIf="form.controls['name'].hasError('required')">Name is required</div>
              <div *ngIf="form.controls['name'].hasError('pattern')">Only alphabets allowed</div>
              </div>
      </div>
      <div class="form-group">
              <label for="phone">Contact</label>
              <input type="text" class="form-control" 
                  id="phone"
                  name="phone"
                  formControlName="phone" placeholder="Enter Contact #"
                  [(ngModel)]="customer.phone">
                  <div *ngIf="form.controls['phone'].errors && (form.controls['phone'].touched || form.controls['phone'].dirty)"
                  class="alert alert-danger">
                  <div *ngIf="form.controls['phone'].hasError('required')"> Mobile number is required </div>
                  <div *ngIf="form.controls['phone'].hasError('pattern')"> Only Numbers are allowed </div>
                  <div *ngIf="form.controls['phone'].hasError('maxlength')"> Mobile can be maximum of 10 digits </div>
                  <div *ngIf="form.controls['phone'].hasError('minlength')"> Mobile should be manimum of 10 digits </div>
                  </div>
      </div>
      <!-- Handling the email validation -->
     <div class="form-group">
              <label for="customerEmail">Email</label>
              <input type="text" class="form-control" 
                  id="customerEmail"
                  name="customerEmail"
                  formControlName="email" placeholder="joe@mail.com"
                  [(ngModel)]="customer.email">
                  <div *ngIf="form.controls['email'].errors && (form.controls['email'].touched || form.controls['email'].dirty)"
                  class="alert alert-danger">
                  <div *ngIf="form.controls['email'].hasError('required')"> Email is required </div>
                  <div *ngIf="form.controls['email'].hasError('email')"> Please enter a valid email format </div>
                  </div>  
     </div>
      <div class="form-group">
          <label for="customerCity">City</label>
          <select class="form-control" id="CustomerCity" name="CustomerCity" formControlName="city"
          [(ngModel)]="customer.city">
            <option [value]="null" [disabled]="true">Select Option </option>
            <option *ngFor="let c of cityList">{{c}}</option>
            </select>
      </div>
      <div class="form-group">
        <label for="customerBday">D.O.B</label>
        <input type="date" class="form-control"
                id="customerBday"
                name="customerBday"
                formControlName="DOB"
                [(ngModel)]="customer.DOB">
                <div *ngIf="form.controls['DOB'].errors && (form.controls['DOB'].touched || form.controls['DOB'].dirty)"
                class="alert alert-danger">
                <div *ngIf="form.controls['DOB'].hasError('required')"> D.O.B is required </div>
                <div *ngIf="form.controls['DOB'].hasError('pattern')"> Date Should be valid and in DD/MM/YYYY format</div>
                </div> 
      </div>
      <button name="save" type="submit" [disabled]="form.invalid"
          class="btn btn-success">
          Save
      </button>
  </form>
</div>
<!-- Displaying Customer details -->
<div *ngIf="showDetail">
<h2>Customer Details </h2>
<div class="panel panel-primary" *ngFor="let cus of customerList">
    <div class="panel-heading">
      <h3 class="panel-title">
        <!-- Customer name-->
        <!-- Using titlecase to display the first character of customer name in upper case -->
        {{ cus.name | titlecase }}
      </h3>
    </div>
    <div class="panel-body">
        <!-- Contact -->
        {{ cus.phone }}
    </div>
    <div class="panel-body">
      <!-- email -->
      {{cus.email}}
    </div>
    <div class="panel-body">
      <!-- customer city -->
      {{cus.city | uppercase }}
    </div>
    <div class="panel-body">
      <!-- customer D.O.B using Pipes to display the date in m/d/yyyy format -->
      {{cus.DOB | date: "M/d/yyyy"}}
    </div>
</div>
</div>
